.productsContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .productsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
